<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "randomriff"
        versionCode="106" 
        version   = "1.0.6">

    <gap:platform name="android" />

    <name>Random Riff</name>

    <description>
        Generates a random guitar riff using the Minor Pentatonic scale.
    </description>

    <author href="http://www.joeldare.com" email="joel@joeldare.com">
        Joel Dare
    </author>
    
    <icon src="icon/icon.png" width="1024" height="1024" />
    
    <!-- iOS Icons -->
    <icon src="icon/icon_57x57.png" width="57" height="57" />
    <icon src="icon/icon_72x72.png" width="72" height="72" />
    <icon src="icon/icon_76x76.png" width="76" height="76" />
    <icon src="icon/icon_120x120.png" width="120" height="120" />
    <icon src="icon/icon_152x152.png" width="152" height="152" />
    
    <!-- iOS Splash Screens -->
    <gap:splash src="splash/splash_320x480.png" width="320" height="480" />
    <gap:splash src="splash/splash_640x960.png" width="640" height="960" />
    <gap:splash src="splash/splash_640x1136.png" width="640" height="1136" />
    <gap:splash src="splash/splash_640x1136.png" width="1536" height="2048" />
    
    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <preference name="webviewbounce" value="false" />
    
    <preference name="permissions" value="none" />

</widget>
