pre {
    text-align: center;
    display: none;
    font-size: 60px;
}

.jtab {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.refresh {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.email {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    width: 40px;
    height: 40px;
}

.register {
    display: none;
}

.build {
    display: none;
    font-face: arial;
    font-size: 0.5em;
    text-align: center;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#keyContainer {
    text-align: center;
    margin-top: 40px;
}

#key {
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('image/dropdown.gif') no-repeat;
    width: 150px;
    height: 40px;
    padding-left: 15px;
    background-position: 115px;
    background-size: 20px;
    font-size: 16px;
}