pre {
    text-align: center;
    display: none;
    font-size: 60px;
}

.jtab {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.refresh {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
}

.email {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    width: 40px;
    height: 40px;
}

.register {
    display: none;
}

.build {
    font-face: arial;
    font-size: 0.5em;
    text-align: center;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}